---

---

<nav class="bg-transparent p-6">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <div class="w-full">
      <ul
        class="font-medium flex text-white flex-row gap-7 justify-end"
      >
        <li>
          <a href="#home" class="block  text-white">Home</a>
        </li>
        <li>
          <a href="#about" class="block ">About</a>
        </li>
        <li>
            <a href="#work" class="block">My Work</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
